#!/usr/bin/make -f

ROOT = $(CURDIR)/debian/glotofacil

override_dh_auto_clean:
	$(RM) -r lib
	$(RM) lib *.res GLotofacil

override_dh_auto_build:
	lazbuild --ws=gtk2 --pcp=/tmp/.lazarus GeraLF.lpi

override_dh_auto_install:
	install -d -m 755 $(ROOT)/usr/bin
	install -s -m 755 GLotofacil $(ROOT)/usr/bin
	install -d -m 755 $(ROOT)/usr/share/applications
	install -m 644 GLotofacil.desktop $(ROOT)/usr/share/applications
	install -d -m 755 $(ROOT)/usr/share/pixmaps
	install -m 644 GLotofacil.png $(ROOT)/usr/share/pixmaps
%:
	dh $@
